/* customers */
.customers {
   padding: 100px 0 133px;
   font-weight: 500;

}

.customers__row {
   display: flex;
   column-gap: 68px;

}

.customers__img {
   max-width: 478px;
}

.customers__img img {
   border-radius: 60px;

}

.customers__rewiew {
   width: 490px;
}

.customers__title {
   font-size: 45px;
   width: 565px;
   margin-bottom: 35px;
}

.rewiew__client {
   display: flex;
   column-gap: 33px;
   align-items: center;
   margin-bottom: 60px;

}

.rewiew__client-avatar {
   overflow: hidden;
   border-radius: 71.5px;
   background: #ff794e;
   width: 134px;
   height: 134px;
   flex-shrink: 0;
}

/* .rewiew__client-desc {} */

.rewiew__client-desc-name {
   font-size: 33px;
   margin-bottom: 10px;
}

.rewiew__client-desc-country {
   font-size: 25px;
   font-weight: 400;
   color: var(--secondary);
}

.rewiew__text {
   color: var(--secondary);
   font-size: 22px;
   margin-bottom: 30px;
}

/* .rewiew__rating {} */